<!DOCTYPE html>
<meta charset="utf8">
<title>
  Derby Standalone
</title>
<style>
  .tabs {
    list-style: none;
    padding: 0;
  }
  .tabs > li {
    display: inline-block;
    padding: 10px;
    border: 0 solid black;
    border-width: 0 0 1px;
  }
  .tabs > li.active {
    border-width: 1px 1px 0;
    margin: 0 -1px;
  }
  .tabs-pane {
    display: none;
  }
  .tabs-pane.active {
    display: block;
  }
</style>
<body>

<script type="text/template" id="body">
  <tabs selectedIndex="{{2}}">
    <pane title="One"><b>Hi</b></pane>
    <pane title="Two">ho</pane>
    <pane title="Three">away</pane>
    <pane title="Four">we {{_page.punchline}}</pane>
  </tabs>
</script>

<script type="text/template" id="tabs" data-element="tabs" data-arrays="pane">
  <a href="https://github.com/codeparty/derby-standalone">
    See repo for example code.
  </a>
  <br>
  <br>
  <a href="http://enjalot.github.io/pinyin">
    Data visualization example with derby-standalone
  </a>

  <!--
  <ul class="tabs">
    {{each @pane as #pane, #i}}
      <li class="{{if #i === selectedIndex}}active{{/}}" on-click="select(#i)">
        {{#pane.title}}
      </li>
    {{/each}}
  </ul>
  {{each @pane as #pane, #i}}
    <div class="tabs-pane {{if #i === selectedIndex}}active{{/}}">{{#pane.content}}</div>
  {{/each}}
  -->
</script>

<script src="dist/derby-standalone.v0.js"></script>
<script>
var app = derby.createApp();

var templates = document.querySelectorAll('script[type="text/template"]');
for (var i = 0; i < templates.length; i++) {
  var template = templates[i];
  app.views.register(template.id, template.innerHTML, template.dataset);
}

app.component('tabs', Tabs);
function Tabs() {}
Tabs.prototype.init = function(model) {
  model.setNull('selectedIndex', 0);
};
Tabs.prototype.select = function(i) {
  this.model.set('selectedIndex', i);
};

var page = app.createPage();
page.model.set('_page.punchline', 'go');

document.body.appendChild(page.getFragment('body'));
</script>
